Repository vishaltak/gitlab-development-kit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:docs_lint, test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

test:docs_lint:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:ruby-2.6.5-golang-1.14-git-2.26-lfs-2.9-chrome-73.0-node-12.x-yarn-1.21-postgresql-10-graphicsmagick-1.3.34
  stage: test
  script:
  - vale --minAlertLevel error doc
  - markdownlint --config .markdownlint.json 'doc/**/*.md'

test:static-analysis:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:ruby-2.6.5-golang-1.14-git-2.26-lfs-2.9-chrome-73.0-node-12.x-yarn-1.21-postgresql-10-graphicsmagick-1.3.34
  stage: test
  script:
  - make static-analysis

test:rspec:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:ruby-2.6.5-golang-1.14-git-2.26-lfs-2.9-chrome-73.0-node-12.x-yarn-1.21-postgresql-10-graphicsmagick-1.3.34
  stage: test
  script:
  - gem update bundler
  - bundle install --jobs 4
  ...

test:rubocop:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:ruby-2.6.5-golang-1.14-git-2.26-lfs-2.9-chrome-73.0-node-12.x-yarn-1.21-postgresql-10-graphicsmagick-1.3.34
  stage: test
  script:
  - gem update bundler
  - bundle install --jobs 4
  - bundle exec rubocop --parallel

test:code_quality:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
  tags:
  - gitlab-org-docker
  stage: test
  allow_failure: true
  script:
  ...

test:container_scanning:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
  tags:
  - gitlab-org-docker
  stage: test
  allow_failure: true
  dependencies: []
  script:
  ...

verify:install:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:ruby-2.6.5-golang-1.14-git-2.26-lfs-2.9-chrome-73.0-node-12.x-yarn-1.21-postgresql-10-graphicsmagick-1.3.34
  stage: verify
  artifacts:
    paths:
    - ./gitlab-development-kit/gitlab/log/*.log
    - ./gitlab-development-kit/log
    expire_in: 2 days
  ...

verify:update:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:ruby-2.6.5-golang-1.14-git-2.26-lfs-2.9-chrome-73.0-node-12.x-yarn-1.21-postgresql-10-graphicsmagick-1.3.34
  stage: verify
  artifacts:
    paths:
    - ./gitlab-development-kit/gitlab/log/*.log
    - ./gitlab-development-kit/log
    expire_in: 2 days
  ...

Basic asdf support
  .tool-versions
Due: none

Adjust quoting to fix support/docker-registry
  support/docker-registry
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

Check re2 gem can be required
  lib/gdk/diagnostic/ruby_gems.rb
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

WIP
  lib/gdk/config.rb
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

updating chrome/chromedriver listing, ref #668
  doc/prepare.md
Due: none

rebuilding MR, branched off incorrect source, ref #668
  doc/prepare.md
Due: none

Apply suggestion to doc/prepare.md
  doc/prepare.md
Due: none

Remove (in <GDK_DR>) warning
  gem/bin/gdk
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

Support gdk config dump
  lib/gdk.rb
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

RuboCop remove Metrics/PerceivedComplexity disable
  lib/gdk.rb
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

Upgrade to Ruby v2.6.6
  .gitlab-ci.yml
  .rubocop-gdk.yml
  Dockerfile
  Vagrantfile
  doc/prepare.md
  doc/troubleshooting.md
  gem/gitlab-development-kit.gemspec
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

Include contribution steps
  CONTRIBUTING.md
Due: none

Bump Ruby version to 2.6.6
  Dockerfile
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

WIP
  lib/gdk/command/diff_config.rb
  lib/gdk/diagnostic/configuration.rb
  support/templates/gitaly.config.toml.erb
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

WIP
  lib/gdk/config.rb
  lib/gdk/config_settings.rb
  lib/gdk/config_type/array.rb
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

GDK::Services.all not needed, only .enabled
  lib/gdk/services.rb
  spec/lib/gdk/services_spec.rb
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

Allow runit to generate services via Ruby Services
  doc/configuration.md
  lib/gdk/config.rb
  lib/runit.rb
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

Support OpenLDAP as a Ruby Service
  lib/gdk/services.rb
  lib/gdk/services/openldap.rb
  spec/lib/gdk/services/openldap_spec.rb
  spec/lib/gdk/services_spec.rb
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

Support PostgreSQL as a Ruby Service
  lib/gdk/services.rb
  lib/gdk/services/postgresql.rb
  spec/lib/gdk/services/postgresql_spec.rb
  spec/lib/gdk/services_spec.rb
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

Support PostgreSQL Replica as a Ruby Service
  lib/gdk/services.rb
  lib/gdk/services/postgresql_replica.rb
  spec/lib/gdk/services/postgresql_replica_spec.rb
  spec/lib/gdk/services_spec.rb
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

Support redis as a Ruby Service
  gdk.example.yml
  lib/gdk/config.rb
  lib/gdk/services.rb
  lib/gdk/services/redis.rb
  spec/lib/gdk/config_spec.rb
  spec/lib/gdk/services/redis_spec.rb
  spec/lib/gdk/services_spec.rb
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

Support minio as a Ruby Service
  lib/gdk/services.rb
  lib/gdk/services/minio.rb
  spec/lib/gdk/services/minio_spec.rb
  spec/lib/gdk/services_spec.rb
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

Support removing stale dirs for old & new types
  lib/runit/config.rb
  spec/lib/runit/config_spec.rb
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

New Required Service
  lib/gdk/services.rb
  lib/gdk/services/required.rb
  spec/lib/gdk/services/required_spec.rb
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

Support GitLab Workhorse as a Ruby Service
  gdk.example.yml
  lib/gdk/config.rb
  lib/gdk/services.rb
  lib/gdk/services/gitlab_workhorse.rb
  spec/lib/gdk/config_spec.rb
  spec/lib/gdk/services/gitlab_workhorse_spec.rb
  spec/lib/gdk/services_spec.rb
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

Support Rails background jobs as a Ruby Service
  lib/gdk/services.rb
  lib/gdk/services/rails_background_jobs.rb
  spec/lib/gdk/services/rails_background_jobs_spec.rb
  spec/lib/gdk/services_spec.rb
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

Support Rails web as a Ruby Service
  lib/gdk/services.rb
  lib/gdk/services/rails_web.rb
  spec/lib/gdk/services/rails_web_spec.rb
  spec/lib/gdk/services_spec.rb
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

add info about RubyEncoder Error to vagrant.md
  doc/howto/vagrant.md
Due: none

ensure not having trailing whitespaces
  doc/howto/vagrant.md
Due: none

adds newline at the end
  doc/howto/vagrant.md
Due: none

adds information about RubyEncoder Loader error.
  doc/howto/vagrant.md
Due: none

Support for asdf
  .envrc
  .gitignore
  .tool-versions
  Makefile
Due: test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

gdk pristine support
  Makefile
  lib/gdk.rb
  lib/gdk/command.rb
  lib/gdk/command/pristine.rb
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

Create a few variables to shrink down commands
  Makefile
Due: test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

Rewrite Geo specific migrate and update targets
  Makefile
Due: test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

Automatically detect which databases to migrate
  Makefile
Due: test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

Update /doc/howto/runner.md to use gdk.yml
  doc/howto/runner.md
Due: none

Include openssh/sshd_config in diff config
  lib/gdk/command/diff_config.rb
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

No longer have .ruby-version as a symlink
  .gitignore
  .ruby-version
  Makefile
  lib/gdk/command/diff_config.rb
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

When jaeger is disabled, don't set tracing ENVs
  lib/gdk/config_settings.rb
  spec/lib/gdk/config_settings_spec.rb
Due: test:static-analysis, test:rspec, test:rubocop, test:code_quality, test:container_scanning, verify:install, verify:update

Path conditions:
  test:docs_lint: any of: **/*.{md}, {doc}/**/*
  test:static-analysis: any of: **/*.{md}, {doc}/**/*, **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  test:rspec: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  test:rubocop: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  test:code_quality: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  test:container_scanning: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  verify:install: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  verify:update: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
